@import './modules/navbar';
@import './modules/heroSec';
@import './modules/about';
@import './modules/whyUs';
@import './modules/menu';
@import './modules/specials';
@import './modules/events';
@import './modules/bookTable';
@import './modules/galery';
@import './modules/chefs';
@import './modules/crew';
@import './modules/contact';

