/* Error: Can't find stylesheet to import.
 *   ,
 * 6 | @import './modules/specials';
 *   |         ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\sass\_allModules.scss 6:9  @import
 *   src\sass\app.scss 10:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 6 \2502  @import './modules/specials';\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\sass\\_allModules.scss 6:9  @import\a   src\\sass\\app.scss 10:9         root stylesheet";
}
