.aboutSec {
    background-color: rgb(255, 250, 242);
    padding: 0 10vw;
    box-sizing: border-box;
    height: 70vh;
    @include display(flex, start, center, 20px);

    img {
        width: 40vw;
        height: 60vh;
    }

    .iconAbout {
        div {
            @include display(flex, center, center, 15px);

            svg {
                color: $orangeColor;
                font-weight: bolder;
            }
        }
    }

 

    .imageWrapper {
        position: relative;
    }

    .imageWrapper img {
        width: 40vw;
        height: 60vh;
        object-fit: cover;
        border-radius: 10px;
        display: block;
    }

    .openGalleryBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px 25px;
        background: rgb(255, 176, 59);
        color: #fff;
        border: none;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
    }

    .openGalleryBtn:hover {
        opacity: .9;
    }

    .modal {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, .85);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }

    .modal:target {
        display: flex;
    }

    .modal-content {
        background: rgb(255, 250, 242);
        padding: 20px;
        border-radius: 12px;
        max-width: 900px;
        width: 90%;
        max-height: 85vh;
        overflow: auto;
        position: relative;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 26px;
        text-decoration: none;
        color: #333;
    }

    .carousel {
        margin-top: 20px;
        max-width: 850px;
        height: 450px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
    }


    .carousel input {
        display: none;
    }

    .carousel-inner {
        height: 100%;
        width: 300%;
        display: flex;
        transition: transform .6s ease;
    }

    .item {
        width: 100%;
    }

    .item img,
    .item video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #slide1:checked~.carousel-inner {
        transform: translateX(0);
    }

    #slide2:checked~.carousel-inner {
        transform: translateX(-33.333%);
    }

    #slide3:checked~.carousel-inner {
        transform: translateX(-66.666%);
    }


    .nav {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .nav label {
        width: 14px;
        height: 14px;
        background: #aaa;
        border-radius: 50%;
        cursor: pointer;
    }

    #slide1:checked~.nav label:nth-child(1),
    #slide2:checked~.nav label:nth-child(2),
    #slide3:checked~.nav label:nth-child(3) {
        background: rgb(255, 176, 59);
    }

}