.bookTable {
    .topBook {
        @include display(flex, center, center, 10px);
        flex-direction: column;
        text-align: center;
        margin-top: 50px;

        p {
            border-radius: 20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: fit-content;
            padding: 6px 12px;
            font-weight: 500;
        }

        h1 {
            font-family: $fontFamily;

            span {
                color: $orangeColor;
            }
        }
    }

    .downBook {
        @include display(flex, center, center, none);

        .leftDown {
            img {
                height: 80vh;
            }
        }

        .formulaire {
            background-color: rgba(250, 250, 250, 0.514);
            height: 80vh;
            @include display(flex, center, center, 40px);
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;

            .firstInput,
            .secondInput,
            .thirdInput {
                gap: 20px;
            }

            input {
                width: 20vw;
                height: 6vh;
                text-align: 25px;
                border: 1px solid darkgray;
            }

            .thirdInput {
                @include display(flex, none, center, 15px);
                flex-direction: column;

                textarea {
                    width: 50vw;
                    height: 15vh;
                    border: 1px solid darkgray;
                }

                button {
                    width: 15vw;
                    height: 7vh;
                    border: transparent;
                    background-color: $orangeColor;
                    border-radius: 8px;
                    color: white;
                }

                input::placeholder,
                textarea::placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }
            }

        }
    }



}