.bookTable {
    .topBook {
        @include display(flex, center, center, 10px);
        flex-direction: column;
        text-align: center;
        margin-top: 50px;

        p {
            border-radius: 20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: fit-content;
            padding: 6px 12px;
            font-weight: 500;
        }

        h1 {
            font-family: $fontFamily;

            span {
                color: $orangeColor;
            }
        }
    }

    .downBook {
        @include display(flex, center, center, none);

        .leftDown {
            img {
                height: 80vh;
            }
        }

        .formulaire {
            background-color: rgba(250, 250, 250, 0.514);
            height: 80vh;
            @include display(flex, center, center, 40px);
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;

            .firstInput,
            .secondInput,
            .thirdInput {
                gap: 20px;
            }

            input {
                width: 20vw;
                height: 6vh;
                text-align: 25px;
                border: 1px solid darkgray;
            }

            .thirdInput {
                @include display(flex, none, center, 15px);
                flex-direction: column;

                textarea {
                    width: 61vw;
                    height: 15vh;
                    border: 1px solid darkgray;
                }

                button {
                    width: 15vw;
                    height: 7vh;
                    border: transparent;
                    background-color: $orangeColor;
                    border-radius: 8px;
                    color: white;
                }

                input::placeholder,
                textarea::placeholder {
                    color: rgba(0, 0, 0, 0.4);
                }
            }

        }
    }



}
//! mobile version
@media (max-width: 425px) {
   .bookTable{
    margin-bottom: 40vw;
   }
    .bookTable .downBook {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-top: 70px;
    }
    .bookTable .downBook .formulaire{
        height: 100vh;
    }
    .bookTable .downBook .leftDown img {
        width: 72vw;
        height: 200px;
       
    }
    .downBook{
        height: 90vh;
    }

    .bookTable .downBook .formulaire .firstInput,.secondInput {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 5px;
        
    }

    .bookTable .downBook .formulaire input  {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45px;
        gap: 5px;
    }
    

    .bookTable .formulaire textarea {
        width: 100%;
        height: 120px;
    }

    .bookTable .downBook .formulaire .thirdInput button {
        width: 30vw;
        height: 8vh;
    }

    .bookTable .formulaire .firstInput,
    .bookTable .formulaire .secondInput,
    .bookTable .formulaire .thirdInput {
        flex-direction: column;
        width: 100%;
       
    }
}
//! tablet version
@media (max-width: 768px) {

    .bookTable {
        margin-bottom: 20vw;
    }

    .bookTable .downBook {
        flex-direction: column;
        gap: 25px;
        padding: 30px;
        margin-top: 60px;
        height: auto;
    }

    .bookTable .downBook .leftDown img {
        width: 90vw;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
    }

    .bookTable .downBook .formulaire {
        height: auto;
        width: 100%;
    }

    .bookTable .downBook .formulaire .firstInput,
    .bookTable .downBook .formulaire .secondInput {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }

    .bookTable .downBook .formulaire input {
        width: 100%;
        height: 50px;
    }

    .bookTable .formulaire textarea {
        width: 100%;
        height: 150px;
    }

    .bookTable .downBook .formulaire .thirdInput button {
        width: 40vw;
        height: 7vh;
        font-size: 16px;
    }

    .bookTable .formulaire .firstInput,
    .bookTable .formulaire .secondInput,
    .bookTable .formulaire .thirdInput {
        width: 100%;
        flex-direction: column;
    }
}
