.crew {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  overflow: hidden; 

  background: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/public/images/images/testimonials-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: brightness(40%);

    z-index: 0;
  }

  
  > * {
    position: relative;
    z-index: 1;
  }
}





#crewCarousel .carousel-inner {
    height: 100%;
}

#crewCarousel .carousel-item {
    text-align: center;
    color: white;
    padding: 20px;

    opacity: 0;
    visibility: hidden;
    transition: opacity .6s ease;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#crewCarousel .carousel-item.active {

    opacity: 1;
    visibility: visible;
    position: relative;
}

#crewCarousel img {
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.crewDescription {
    .text p {
        font-family: $fontFamily;
    }
}

.crewDescription p:first-child {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.crewDescription p:nth-child(2) {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.crewIcon i {
    color: #ffc107;
    font-size: 18px;
    margin: 0 2px;
}

.crewDescription p:last-child {
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.6;
    font-size: 15px;
}


#crewCarousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#crewCarousel .carousel-indicators .active {
    background-color: #ffc107;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}