.events {
    position: relative;
    height: 90vh;
    background-image: url(/public/images/images/events-bg.jpg);
    background-size: contain;
    background-position: center;
    overflow: hidden;

    
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: inherit;
        background-size: inherit;
        background-position: inherit;
        filter: brightness(40%);
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }

    .slide-content {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 40px;

        h1 {
            font-family: $fontFamily;
        }

        .carouselEvents .price {
            font-weight: bolder;
            text-decoration: underline orange;
            text-decoration-thickness: 8px;
            font-size: xx-large;
        }
    }

    img {
        width: 40vw;
        object-fit: cover;
        border-radius: 10px;
    }

    .carouselEvents {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 450px;
        color: white;

        .check-item {
            display: flex;
            gap: 8px;

            i {
                color: $orangeColor;
            }
        }
    }
}

// !version mobile
@media (max-width: 425px) {

    .events {
        height: auto;
        background-size: cover;
        padding: 20px 0;
    }

    .events .slide-content {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        min-height: auto;
        justify-content: start;
    }
    .events .slide-content .carouselEvents .price, h1{
        text-align: start;
    }
    .events img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .events .carouselEvents {
        max-width: 100%;
        text-align: center;
        gap: 6px;
    }

    .events .carouselEvents .check-item {
        justify-content: center;
        text-align: left;
    }
}

//! tablet version
@media (max-width: 768px) {

    .events {
        height: auto;
        background-size: cover;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
    }

    .events .slide-content {
        flex-direction: column;
        padding: 25px;
        gap: 25px;
        min-height: auto;
        justify-content: start;
    }

    .events img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: 10px;
    }

    .events .carouselEvents {
        max-width: 100%;
        text-align: start;
        gap: 10px;

        .price,
        h1 {
            text-align: left;
        }
    }

    .events .carouselEvents .check-item {
        justify-content: flex-start;
        text-align: left;
    }
}
