.heroSec {
    position: relative;
    top: -50px;

    .carousel-item {
        position: relative;     
        filter: none !important; 

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.55); 
            z-index: 1;
        }

        .contenetCarousel {
            position: absolute;
            top: 20vw;
            left: 25vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: white;
            z-index: 2;     

            h1 {
                font-family: $fontFamily;
            }

            span {
                color: $orangeColor;
            }

            button {
                border: 1px solid $orangeColor;
                background-color: transparent;
                color: white;
                width: 8vw;
                height: 5vh;
                border-radius: 20px;

                &:hover {
                    background-color: #f4a12e;
                    color: white;
                }
            }
        }
    }
}


//! mobile version
@media (max-width: 425px) {

    .heroSec {
        top: 0;
        height: 90vh;
        margin-bottom: 80vw;

        .carousel-item {

            .contenetCarousel {
                top: 35vw;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                text-align: center;
                gap: 15px;

               

                h1 {
                    font-size: 7vw;
                    /* bigger readable title */
                    line-height: 1.2;
                }

                p {
                    font-size: 4vw;
                    line-height: 1.4;
                    margin: 0 10px;
                }

                .carouselBttn {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    align-items: center;

                    button {
                        width: 50vw;
                        /* larger buttons */
                        height: 6.5vh;
                        border-radius: 25px;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}
//! tablet version

@media (max-width: 768px) {
    .heroSec {
        height: 70vh;
        margin-bottom: 40vw;

        .carousel-item {
            .contenetCarousel {
                top: 20vw;
                width: 61%;

                h1 {
                    font-size: 4vw;
                }

               

                .carouselBttn button {
                    width: 30vw;
                    height: 6vh;
                    font-size: 2.5vw;
                }
            }
        }
    }
}
