.heroSec {
    position: relative;
    top: -50px;


    .carousel-item {
        .contenetCarousel {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 20vw;
            left: 25vw;
            gap: 10px;
            color: white;

            span {
                color: $orangeColor;
            }

            button {
                border: 1px solid $orangeColor;
                background-color: transparent;
                color: white;
                width: 8vw;
                height: 5vh;
                border-radius: 20px;

            }

            button:hover {
                background-color: #f4a12e;
                color: white;
            }
        }
    }

}


@media (max-width: 425px) {

    .heroSec {
        top: 0;
        height: 90vh;
        margin-bottom: 80vw;

        .carousel-item {

            .contenetCarousel {
                top: 35vw;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                text-align: center;
                gap: 15px;

               

                h1 {
                    font-size: 7vw;
                    /* bigger readable title */
                    line-height: 1.2;
                }

                p {
                    font-size: 4vw;
                    line-height: 1.4;
                    margin: 0 10px;
                }

                .carouselBttn {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    align-items: center;

                    button {
                        width: 50vw;
                        /* larger buttons */
                        height: 6.5vh;
                        border-radius: 25px;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}