.menu {
    margin-top: 20px;
    margin-bottom: 10vw;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #eee;
        padding: 10px;
    }

    /* TOP SECTION */
    .topMenu {
        @include display(flex, center, center, 10px);
        flex-direction: column;
        text-align: center;

        p {
            border-radius: 20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: fit-content;
            padding: 6px 12px;
            font-weight: 500;
        }

        h1 {
            font-family: $fontFamily;
        }
    }

    span {
        color: $orangeColor;
    }




    /* MENU TABS */

    label {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin-top: 25px;

        p {
            @include display(flex, center, center, 10px);
            font-family: $fontFamily;
            flex-direction: column;
            text-align: center;

            &:hover {
                color: $orangeColor;

            }
        }
    }

    input {
        display: none;
    }




    /* MENU LIST */
    .menuList {
        @include display(flex, center, start, 50px);
        margin-top: 40px;

        .leftMenuList,
        .rightMenuList {
            @include display(flex, start, start, 25px);
            flex-direction: column;

            >div {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 10px 0;

                .menuText {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                }
            }
        }
    }








    .menuList div[id] {
        display: none;
    }


    #all:checked~.menuList div[id] {
        display: block;
    }


    #starters:checked~.menuList div[id="starters"],
    #salades:checked~.menuList div[id="salades"],
    #speciality:checked~.menuList div[id="speciality"] {
        display: block;
    }


    input[type="radio"] {
        display: none;
    }


    .middleMenu input[type="radio"]:checked+label {
        background-color: orange;
        color: white;
    }
}