nav {
    width: 100%;
    position: absolute;
    z-index: 999;
    padding: 0 10vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(6px);
    transition:background 0.3s ease;

    .topNav {
        @include display(flex, space-between, center, 0);
        height: 7vh;


        .leftTopNav {
            @include display(flex, flex-start, center, 15px);

            .iconMobile,
            .iconTime {
                @include display(flex, flex-start, center, 5px);

                svg {
                    color: $orangeColor;
                }

                p {
                    color: white;
                    margin: 0;

                }
            }
        }

        .rightTopNav {
            button {
                border: none;
                height: 5vh;
                width: 12vw;
                background-color: $orangeColor;
                color: white;
                border-radius: 20px;


            }

        }
    }

    .downNav {
        @include display(flex, space-between, center, 15px);


        .leftDownNav {
            a {
                text-decoration: none;

                h1 {
                    color: white;
                    font-family: $fontFamily;
                    margin: 0;
                }
            }
        }

        .rightDownNv {
            @include display(flex, flex-start, center, 20px);

            a {
                text-decoration: none;
                color: white;
                font-weight: 500;

                &:hover {
                    color: $orangeColor;
                }

                span {
                    color: $orangeColor;
                }
            }
        }
    }


    .close,
    #check {
        display: none;
    }

    .open {
        position: absolute;
        right: 5%;
        font-size: x-large;
        display: none;
    }

}

.scrollTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: none;
    background: #f4a12e;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 2000;
    transition: 0.3s ease;

    i {
        color: white;
        font-size: 22px;
    }

    &:hover {
        transform: scale(1.08);
        background: #ffb347;
    }
}

//! mobile version
@media (max-width: 425px) {

    
    nav {
        height: auto;
        padding: 10px 0;
        position: relative;
    }

    
    nav .topNav .leftTopNav {
        display: none;
    }

    
    nav .downNav .rightDownNv {
        display: none;
    }

    nav .downNav .rightDownNv a{
        color: black;
    }
    #check:checked ~ .rightDownNv {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: #f5eded;
        
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 25px 0;
        text-align: center;
        z-index: 100;
    }

    nav .topNav .rightTopNav button {
        width: 35vw;
        height: 6vh;
        margin-left: auto;
        display: block;
    }

    .open {
        display: block !important;
    }

    .close {
        display: none;
    }

    #check:checked ~ .open {
        display: none !important;
    }

    #check:checked ~ .close {
        display: block;
    }

    .open label,
    .close label {
        font-size: 32px;
        cursor: pointer;
        position: absolute;
        right: 20px;       
        top: -15px;
        font-weight: bolder;
        z-index: 1000;
        display: block;     
    }
}

//! tablet version
@media (max-width: 768px) {

    nav {
        height: auto;
        padding: 15px 0;
        position: relative;
    }

   
    nav .topNav .leftTopNav {
        display: none;
    }

    
    nav .downNav .rightDownNv {
        display: none;
    }

    nav .downNav .rightDownNv a {
        color: black;
    }

   
    #check:checked ~ .rightDownNv {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background: #f5eded;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 30px 0;
        text-align: center;
        z-index: 100;
    }

    
    nav .topNav .rightTopNav button {
        width: 25vw;      
        height: 6vh;
        margin-left: auto;
        display: block;
    }

    
    .open {
        display: block !important;
    }

    .close {
        display: none;
    }

    #check:checked ~ .open {
        display: none !important;
    }

    #check:checked ~ .close {
        display: block;
    }

    .open label,
    .close label {
        font-size: 34px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: -15px;
        font-weight: bolder;
        z-index: 1000;
        display: block;
    }
}
