.specials {
    margin-bottom: 30px;
    

    .topSpecials {
        @include display(flex, center, center, 10px);
        flex-direction: column;
        text-align: center;


        p {
            border-radius: 20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: fit-content;
            padding: 6px 12px;
            font-weight: 500;
            &:hover{
                background-color: $orangeColor;
            }
        }

        h1 {
            font-family: $fontFamily;
        }
    }

    span {
        color: $orangeColor;

    }

    .downSpecials {
        // @include display(flex, center, center, 10px);
        display: flex;
        // flex-direction: row;

        label {
            display: flex;
            
            flex-direction: column;
            cursor: pointer;
            padding: 6px 10px;
            margin-right: 5px;
            font-family: $fontFamily;

            p:hover {
                color: $orangeColor;
            }

        }

        .rightDownSpecials {
            // display: flex;
            .specialContenet {
                display: flex;
                flex-direction: column;

                h2 {
                    font-family: $fontFamily;
                }
            }
            


            img {
                width: 200px;
                height: 200px;
            }

        }
    }


    .rightDownSpecials>div[id] {
        display: none;
    }

    #spec1:checked~.rightDownSpecials>div[id="spec1"],
    #spec2:checked~.rightDownSpecials>div[id="spec2"],
    #spec3:checked~.rightDownSpecials>div[id="spec3"],
    #spec4:checked~.rightDownSpecials>div[id="spec4"],
    #spec5:checked~.rightDownSpecials>div[id="spec5"] {
        display: block;
    }


    .downSpecials input[type="radio"] {
        display: none;
    }





    #spec1:checked+label,
    #spec2:checked+label,
    #spec3:checked+label,
    #spec4:checked+label,
    #spec5:checked+label {
        color: orange;
        font-weight: bold;
    }


}


//! mobile version
@media (max-width: 425px) {

    .specials {

        .topSpecials {
            p {
                font-size: 12px;
                padding: 5px 10px;

            }

            h1 {
                font-size: 22px;
                line-height: 1.3;

                span {
                    font-size: 22px;
                }
            }
        }


        .downSpecials {
            width: 100%;
            align-items: start;
            display: flex;
            

            label {
                padding: 5px 8px;
                margin: 5px 0;
                text-align: center;
                flex-direction: column;
                p {
                    font-size: 14px;
                }
            }


            label p {
                width: 100%;
            }

           

                >div[id=""] {
                    display: flex;
                    flex-direction: column-reverse;
                    text-align: center;
                    gap: 15px;
                    margin-top: 20px;
                }

                .specialContenet {
                    h2 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 1.4;
                    }
                }

                img {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                }
            }
        }
     .specials #spec1:checked~.rightDownSpecials>div[id=spec1],
            .specials #spec2:checked~.rightDownSpecials>div[id=spec2],
            .specials #spec3:checked~.rightDownSpecials>div[id=spec3],
            .specials #spec4:checked~.rightDownSpecials>div[id=spec4],
            .specials #spec5:checked~.rightDownSpecials>div[id=spec5] .rightDownSpecials {
                display: flex;
                flex-direction: column-reverse;
                justify-content: start;
                align-items: center;
            }
    }

//! tablet version

    @media (max-width: 768px) {

    .specials {

        .topSpecials {
            p {
                font-size: 14px;
                padding: 6px 12px;
            }

            h1 {
                font-size: 28px;
                line-height: 1.3;

                span {
                    font-size: 28px;
                }
            }
        }

        .downSpecials {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            label {
                padding: 8px 12px;
                margin: 8px 0;
                text-align: center;
                flex-direction: column;

                p {
                    font-size: 16px;
                }
            }

            label p {
                width: 100%;
            }

            > div[id=""] {
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
                gap: 20px;
                margin-top: 25px;
            }

            .specialContenet {
                h2 {
                    font-size: 22px;
                }

                p {
                    font-size: 15px;
                    line-height: 1.5;
                }
            }

            img {
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }
    }

    
    .specials #spec1:checked ~ .rightDownSpecials > div[id="spec1"],
    .specials #spec2:checked ~ .rightDownSpecials > div[id="spec2"],
    .specials #spec3:checked ~ .rightDownSpecials > div[id="spec3"],
    .specials #spec4:checked ~ .rightDownSpecials > div[id="spec4"],
    .specials #spec5:checked ~ .rightDownSpecials > div[id="spec5"] {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
}
