.specials {
    .topSpecials {
        @include display(flex, center, center, 10px);
        flex-direction: column;
        text-align: center;

        p {
            border-radius: 20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: fit-content;
            padding: 6px 12px;
            font-weight: 500;
        }

        h1 {
            font-family: $fontFamily;
        }
    }

    span {
        color: $orangeColor;

    }

    .downSpecials {
        @include display(flex, center, start, 10px);

        label{
            align-items: center;
            flex-direction: column;

            p:hover {
                color: $orangeColor;
            }

        }

        .rightDownSpecials {
            div {
                display: flex;

                .specialContenet {
                    flex-direction: column;

                    h2 {
                        font-family: $fontFamily;
                    }
                }
            }

            img {
                width: 200px;
                height: 200px;
            }

        }
    }

 
.rightDownSpecials > div {
    display: none;
}

#spec1:checked ~ .rightDownSpecials > div[data-spec="spec1"],
#spec2:checked ~ .rightDownSpecials > div[data-spec="spec2"],
#spec3:checked ~ .rightDownSpecials > div[data-spec="spec3"],
#spec4:checked ~ .rightDownSpecials > div[data-spec="spec4"],
#spec5:checked ~ .rightDownSpecials > div[data-spec="spec5"] {
    display: block; 
}


.downSpecials input[type="radio"] {
    display: none;
}


.downSpecials label {
    cursor: pointer;
    padding: 6px 10px;
    margin-right: 5px;
    transition: 0.3s;
}


#spec1:checked + label,
#spec2:checked + label,
#spec3:checked + label,
#spec4:checked + label,
#spec5:checked + label {
    color: orange;
    font-weight: bold;
}


}