.whyUs{
    // background-color: aquamarine;
    margin-top: 30px;
    .topWhy{
        @include display(flex,center,center,5px);
        flex-direction: column;
        margin-bottom: 10px;
        p{
            border-radius:  20px;
            background-color: rgb(255, 247, 235);
            color: $orangeColor;
            width: 5vw;
            height: 5vh;
            text-align: center;


        }
        h1{
            span{
                color: $orangeColor;
            }
        }
    }

    .downWhy{
        @include display(flex,center,center,15px);
        
        .firstCard, .secCard, .thirdCard{
            background-color: rgb(250, 250, 250);
            padding: 20px;
            height: 35vh;
            &:hover{
                background-color: $orangeColor;
                transform: translateY(-5px);
                color: white;
            }
        }
    }
}
@media (max-width: 425px) {
    .whyUs {
        margin-top: 15vw;
        .topWhy {
            gap: 5px;

            p {
                width: 35vw;
                height: 5vh;
                font-size: 12px;
            }

            h1 {
                font-size: 20px;
                text-align: center;

                span {
                    font-size: 20px;
                }
            }
        }

        .downWhy {
            flex-direction: column;
            gap: 15px;
            width: 90%;
            margin: auto;

            .firstCard,
            .secCard,
            .thirdCard {
                width: 100%;
                height: auto;
                padding: 15px;
                justify-content: start;

                h2 {
                    font-size: 22px;
                }

                p {
                    font-size: 14px;
                    
                }
            }
        }
    }
}
